.container{
    background-image: url(../../assets/ser-bendecido.jpg);
    height: 800px;
    align-items: center;
    justify-content: start;
    background-size:cover;
    background-position:top center;
    background-repeat: no-repeat;
    font-family:"TheSeason" ;
    position: relative;
}
.container h1{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.685);
}
.brillante {
    cursor: pointer;
    background-color: #d6c90f; /* o cualquier otro estilo */
  }

  @media screen and (max-width: 720px) {
    .container {
        height: 600px; /* Ajusta la altura */
        background-position: center; /* Centra mejor la imagen */
    }

    .container h1 {
        font-size: 2.5rem; /* Reduce el tamaño del texto */
    }
}

@media screen and (max-width: 412px) {
    .container {
        height: 450px; /* Reduce aún más la altura */
        background-position: center center; /* Ajusta la posición del fondo */
    }

    .container h1 {
        font-size: 2rem; /* Texto más pequeño para pantallas pequeñas */
    }
}