.concejeria {
    background-image: url(../../assets/Concejeria.jpg); /* Asegúrate de que la ruta de la imagen sea correcta */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 800px;
    padding: 20px;
}

.texto {
    color: aliceblue;
    max-width: 400px;
    padding: 10px;
    border-radius: 8px;
    margin-right: 100px;
}

.texto h1 {
    font-family: "TheSeason", serif;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 20px;
}

.texto p {
    font-family: "Tillilium", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.concejeria button {
    font-family: "Tillilium", sans-serif;
    color: aliceblue;
    background-color: transparent;
    height: 30px;
    width: 120px;
    border: 1px solid #FFF;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.concejeria button:hover {
    background-color: #FFF;
    color: #000;
}
