.concejeria {
    background-image: url(../../assets/Concejeria.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 790px;
    padding: 15px;
    position: relative; 
}
.texto {
    color: aliceblue;
    max-width: 400px;
    padding: 10px;
    
    margin-right: 100px;
    
}

.texto h1 {
    font-family: "TheSeason", serif;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 20px;
}

.texto p {
    font-family: "Tillilium", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.boton {
    font-family: "Tillilium", sans-serif;
    color: aliceblue;
    background-color: transparent;
    height: 30px;
    width: 120px;
    border: 1px solid #FFF;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.concejeria button:hover {
    background-color: #FFF;
    color: #000;
}

.botonFlotante {
    position: sticky; 
    margin: 0;
    bottom: 20px; 
    right: 20px;
    font-family: "Tillilium", sans-serif;
    color: rgb(0, 0, 0);
    background-color: #FFF;
    height: 40px;
    width: 160px;
    border: 1px solid #0c0c0c;
    border-radius: 20px 0px 20px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    z-index: 999; 
}

.botonFlotante:hover {
    background-color: #fffafa;
    color: #000000;
}
@media (max-width: 412px) {
  
    .concejeria {
      padding: 5px;
    }
  
    .texto {
      padding: 5px;
    }
  
    .texto h1 {
      font-size: 20px;
    }
  
    .texto p {
      font-size: 12px;
    }
  
    .boton, .botonFlotante {
      font-size: 12px;
      padding: 5px 10px;
    }
  }
  
  