.colaborar{
    background-image: url('../../assets/ColaborarFondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 98vw;
    align-items: center;
    justify-content: end;
    display: flex;
}
.texto{   

    display: flex;
    align-items: left;
    justify-content: left;
    margin-top:100px;
    margin: 20px;
    padding: 10px;
    margin-right: 235px;
}
