.tvContainer{
    min-height: 100vh;
    background-image:url('../../assets/FONDO1.png') ;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    font-family:"TheSeason" ;
    padding-top: 100px;
    
}
.firstSection{
    display: flex;
    padding-left: 40px;
   

}
.imgPortada{
    height: 380px;
    width: 670px;
    border-radius: none;
    transition: all ease 0.3s;
    right: 280px;
}
.imgPortada:hover{
    transform: scale(1.05);
}
.Links{
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-grow: 1;
    padding-right: 40px;
    
}

.Links a{
    font-size: 5rem;
    color: rgba(250, 235, 215, 0.534);
    text-decoration: none;
    position: relative;
    cursor: pointer;
   
}
.Links a::after,
.Links a::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: yellow;
    opacity: 0; 
    transform: scaleX(0);
    transition: opacity 0.3s, transform 0.3s; 
}
.Links a::after{
    bottom: -2px; 
}
.Links a::before{
    top: -2px;
}
.Links a:hover::after,
.Links a:hover::before{
    opacity: 1; 
    transform: scaleX(1);
}

.word{
    color: #fff;
    font-family:"Tillilium";
    padding: 10px;
    margin: 10px;

    
}
.word h1{
    left: 50px;
    font-weight: 600;
    position: relative;
}
.words{
    color:#fff;
    font-family: "Tillilium" ;
}

.words h2{
    font-weight: 100;
    position: relative;
    left: 50px;
}

@media (max-width: 768px) {
    .tvContainer {
        padding-top: 150px; 
    }

    .firstSection {
        flex-direction: column; 
        align-items: center; 
        padding-left: 20px; 
        padding-right: 20px;
    }

    .imgPortada {
        width: 100%;
        height: auto;
    }

    .Links {
        padding-right: 0;
        align-items: center;
        margin-top: 20px;
    }

    .Links a {
        font-size: 2.5rem;
    }
}

@media (max-width: 412px) {
    .Links a {
        font-size: 2rem; 
    }
    .word{
        left:20px;
    }

    .word h1 {
        font-size: 1.8rem; 
        
    }

    .words h2 {
        font-size: 1.2rem; 
        
    }
}
