


.Container{
    font-family: monospace;
    position: sticky;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:50px;
    padding: 15px 50px;
    color: rgba(255, 255, 255, 0);
    z-index: 100;
}
.Container div img{
    height: 90px;
    width: 120px;
    margin: 0;
    padding: 0;
}
div ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
li {
    width: auto; 
    white-space: nowrap;
}
li a{
    font-size: 1.1rem;
    cursor:pointer;
    text-decoration: none;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}
li a:hover{
    color: #c59e03;
    text-shadow: 2px 2px 4px rgb(255, 204, 0);
    transition: 0.2s;
}
.hide{
    top: 70px;
}