.container {
    font-family: "Tillilium";
    position: fixed;
    top:0;
    width:100%;   
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(224, 211, 211);
    z-index: 100;
    margin: 0;
}
.linkWhite {
    color: #ffffff !important;
    text-shadow: none;
}

.linkBlack {
    color: #000000 !important;
    text-shadow: none;
}

.logo {
    
    height: 90px;
    width: 120px;
    margin: 0;
    padding: 0;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0px;
    margin: 0;
    padding: 0;
}

.menuItem {
    width: auto;
    white-space: nowrap;
}

.link {
    margin-right: 60px;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    color: rgb(255, 246, 246);
    mix-blend-mode: difference;
    
}

.link:hover {
    color: #c59e03;
    text-shadow: 2px 2px 4px rgb(255, 204, 0);
    transition: 0.2s;
}

.hide {
    top: 70px;
}