.mainContainer{
    height: 680px;
    margin: 0px auto;
    
}
.sliderConteiner{
    top: 20px;
    position: relative;
    height: 100%; 
}
.conteinerImg{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.conteinerImg ul {
    gap: 5px;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.leftArrow{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    left: 22px;
    font-size: 40px;
    font-weight:500;
    color: #fff0f0c2;
    z-index: 1;
    cursor: pointer;
}
.rightArrow{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    right: 32px;
    font-size: 40px;
    font-weight:500;
    color: #fff0f0c2;
    z-index: 1;
    cursor: pointer;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; 
   
   
}
li {
    flex-shrink: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 

}
img {
    cursor: pointer;
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 15px;
    
    
}
li img {
    transition: transform 0.3s ease, border 0.3s ease;
    border-radius: 2px solid  rgba(0, 0, 0, 0.637);
    gap: 10px;
}

li img:hover {
    transform: scale(1.1); 
    border: 5px solid  #000000a6;
}


.dotsContainer{
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 990;
}
.dotsContainerItem{
 color: rgb(54, 61, 59);
 margin: 12px 6px;
 cursor: pointer;
 font-size: 12px;
 text-align: center;
}
@media (max-width: 716px) {
    .mainContainer {
        height: 400px;
    }

    .conteinerImg {
        height: 400px;
    }

    .leftArrow, .rightArrow {
        font-size: 30px;
    }

    .dotsContainerItem {
        font-size: 10px;
    }
}

@media (max-width: 412px) {
    img {
        object-fit: cover; 
    }
    .mainContainer {
        height: 300px;
    }

    .conteinerImg {
        height: 300px;
    }

    .leftArrow, .rightArrow {
        font-size: 24px;
    }

    .dotsContainerItem {
        font-size: 8px;
    }
}