.mainContainer{
    height:100vh;
    margin: 0px auto;
    
}
.sliderConteiner{
    position: relative;
    height: 100%; 
    width:98.9vw ;
    
}
.conteinerImg ul {
    gap: 5px;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 100%;
}
.conteinerImg ul {
    gap: 0px;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.leftArrow{
    height: 45px;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    left: 22px;
    font-size: 40px;
    font-weight:500;
    color: #fff0f0c2;
    z-index: 1;
    cursor: pointer;
}
.rightArrow{
    height: 45px;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    right: 32px;
    font-size: 40px;
    font-weight:500;
    color: #fff0f0c2;
    z-index: 1;
    cursor: pointer;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; 
   
   
}
li {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; 
}
img {
    cursor: pointer;
    width: 100%; /* ocupa todo el contenedor li */
    height: 100%;
    object-fit: cover; /* recorta la imagen si es necesario para llenar el espacio */
    border-radius: none;
}
li img {
    transition: transform 0.3s ease, border 0.3s ease;
    
  
}

li img:hover {
    transform: scale(1.05); 
    
}


.dotsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los dots */
    margin-top:25px;
 
   
}

.dotsContainerItem {
    
    width: 10px; /* Tamaño del dot */
    height: 10px; /* Tamaño del dot */
    border-radius: 50%; /* Forma circular */
    background-color: #666565a6; /* Color gris claro */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dotsContainerItem.active {
    background-color: #333; /* Color oscuro para el dot activo */
}

@media (max-width: 716px) {
    .mainContainer {
        height: 400px;
    }

    .conteinerImg {
        height: 400px;
    }

    .leftArrow, .rightArrow {
        font-size: 30px;
    }

    .dotsContainerItem {
        font-size: 10px;
    }
}

@media (max-width: 412px) {
    img {
        object-fit: cover; 
    }
    .mainContainer {
        height: 300px;
    }

    .conteinerImg {
        height: 300px;
    }

    .leftArrow, .rightArrow {
        font-size: 24px;
    }

    .dotsContainerItem {
        font-size: 8px;
    }
}