.mainContainer{
    height: 600px;
    margin: 0px auto;
}
.sliderConteiner{
   position: relative;
   height: 100%; 
}
.conteinerImg{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.conteinerImg ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.leftArrow{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    left: 22px;
    font-size: 40px;
    font-weight:500;
    color: #fff0f0c2;
    z-index: 1;
    cursor: pointer;
}
.rightArrow{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    right: 32px;
    font-size: 40px;
    font-weight:500;
    color: #fff0f0c2;
    z-index: 1;
    cursor: pointer;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; 
   
   
}
li {
    flex-shrink: 0; 
    display: flex; /* Agregar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100%; /* Ajustar al contenedor */

}
img {
   
    max-width: 100%; 
    max-height: 100%; 
}
.dotsContainer{
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: end;
    z-index: 10;
}
.dotsContainerItem{
 margin: 8px 3px;
 cursor: pointer;
 font-size: 12px;
 text-align: center;
}
@media (max-width: 716px) {
    .mainContainer {
        height: 400px;
    }

    .conteinerImg {
        height: 400px;
    }

    .leftArrow, .rightArrow {
        font-size: 30px;
    }

    .dotsContainerItem {
        font-size: 10px;
    }
}

@media (max-width: 412px) {
    img {
        object-fit: cover; 
    }
    .mainContainer {
        height: 300px;
    }

    .conteinerImg {
        height: 300px;
    }

    .leftArrow, .rightArrow {
        font-size: 24px;
    }

    .dotsContainerItem {
        font-size: 8px;
    }
}