


.footer {
    font-family: "Tillilium";
    background-color: #202020; 
    padding: 40px 20px;
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; 
    padding: 20px;/* Espacio entre columnas */
    flex-wrap: wrap;
    cursor: pointer;
    gap: 20px;
    
}
.titulos{
    flex: 1;
    min-width: 200px;
    margin: 10px 0;

}
.titulos h4 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 15px;
}
.titulos p {
    margin: 8px 0;
    font-size: 0.95rem;
    color: #777777; 
}
.titulos img {
    width: 28px;
    height: 28px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.titulos img:hover {
    transform: scale(1.1);
    filter: brightness(1.2); 
}
.divider {
    width: 100%;
    max-width: 1200px;
    border: none;
    border-top: 1px solid #444; 
    margin: 20px 0; 
}
.longFooter{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
  
}

.longFooter img{
    width: 80px;
    height: 60px;

}
.longFooter h2{
    
   font-size: 0.95rem;
   font-weight: 100;
   color: #777777; 
}
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    
    .titulos {
        text-align: center;
    }
}