.estoSomos{
    background-image: url(../../assets/esto-somos.jpg);
    display: flex;
    height: 800px;
    background-size:cover;
    background-position:top center;
    background-repeat: no-repeat;
    font-family:"TheSeason" ;
    align-items: center;
    justify-content: start;

}
.miLista{
    color: antiquewhite;
    flex-direction: column;
    gap: 10px;
    font-size: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 70px;
    text-align: left;
    
    
}
.miLista li {
    
    justify-content: start;
    margin: 5px 0; 
    padding: 5px 0; 
    cursor: pointer;
}
.miLista li a {
    display: inline-block; 
    color: antiquewhite;
    text-decoration: none; 
    position: relative; 
}
.miLista li a::before,
.miLista li a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: yellow;
    opacity: 0; 
    transition: opacity 0.3s, transform 0.3s; 
}

.miLista li a::before {
    top: -2px; 
}

.miLista li a::after {
    bottom: -2px; 
}

.miLista li a:hover::before,
.miLista li a:hover::after {
    opacity: 1; 
}
@media (max-width: 768px) {
    .estoSomos {
        flex-direction: column;
        height: auto; 
        justify-content: center; 
        padding: 70px 70px 0px 0px;
        object-fit: cover; 
    }

    .miLista {
        margin-left: 0;
        gap: 15px;
        font-size: 1.5rem;
        text-align: center; 
    }

   
}


@media (max-width: 412px) {
    .estoSomos {
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        height: auto;
        padding: 70px 70px 0px 0px;
        
    }
 

    .miLista {
        font-size: 1.2rem; 
        gap:1px ;
        padding: 2px;
        margin-right:60px ;
    }
    .miLista ul{
        padding: 0px;
        
    }
    .miLista li {
        margin: 2px 0; 
        padding: 5px 10px;
    
    }
    .miLista li a {
        padding: 0px ;
        margin:0;
    }
}
