.atleticoContainer{
    min-height: 140vh;
    min-width: 98vw;
    background-image: url('../../assets/atletico.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end;

}
.atleticoText{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
   
}
.atleticoText h1{
    font-size: 2.5rem;
    font-weight: 100;
    font-family:"TheSeason" ;
    margin-left: 45px;
 
    
}
.textoAtletico{
    height: 500px;
    width: 80%;
    align-items:center ;
    margin-left: 45px;
    line-height: 1.5;
    
}

.textoAtletico p {
    font-family:"Tillilium" ;
    text-align: justify;
    font-size: 1rem;
    margin: 20px 0;
    color: #000000;
;
}

    @media (max-width: 1025px) {
        .atleticoContainer {
            min-height: 130vh;
            min-width: 95vw;
        }
        .atleticoText h1 {
            font-size: 2.25rem;
            margin-left: 40px;
        }
        .textoAtletico {
            width: 75%;
            margin-left: 40px;
        }
        .textoAtletico p {
            font-size: 0.95rem;
        }
    }
    .atleticoContainer {
        min-height: 120vh;
    }
@media (max-width: 760px) {
    .atleticoContainer {
        min-height: 100vh;
        min-width: 100vw;
        align-items: center;
        justify-content: center;
    }
    .atleticoText h1 {
        font-size: 2rem;
        margin-right: 0;
    }
    
}

@media (max-width: 450px) {
    .atleticoContainer {
        min-height: 100vh;
        min-width: 90vw;
        align-items: center;
        justify-content: center;
    }
    .atleticoText h1 {
        font-size: 1.5rem;
        margin-top: 80px;
        ;
       
    }
    .textoAtletico {
        background-color: rgba(105, 105, 105, 0.342);
        border-radius: 20px;
        min-width: 250px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: 80px;
        margin-right:100px;
        height: auto;
    }
    .textoAtletico p {
        font-size: 0.875rem;
        
    }
    .atleticoText {
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 10px;
    }
}