.containerCiem{
    min-height: 140vh;
    min-width: 98vw;
    background-image: url('../../assets/Ciem.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.textCiem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    margin-top: 150px;
    gap: 35px;
}
.textCiem h1{
    font-size: 2.5rem;
    font-weight: 100;
    font-family:"TheSeason" ;
    margin-right: 90px;
    
}
.text{
    width: 500px;
    margin-right: 70px;
}
@media(max-width: 1450px){
    .containerCiem{
        min-height: 120vh;
        min-width: 90vw;
        background-image: url('../../assets/Ciem.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display:flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        margin-right: 50px;
        width: 100%;
    }
    .textCiem{
        margin-top: 25px;
        gap: 50px;
    }
    
}
@media (max-width: 760px) {
    .containerCiem {
        min-height: 100vh;
        min-width: 100vw;
        align-items: center;
    }
    .textCiem {
        margin-top: 90px;
        gap: 20px;
        background-color: rgba(169, 169, 169, 0.459);
        border-radius: 10px;
    }
    .textCiem h1 {
        font-size: 2rem;
        margin-right: 0;
        text-align: center;
    }
    .text {
        width: 90%;
        margin-right: 0;
    }
}

@media (max-width: 450px) {
    .textCiem {
        margin-top: 80px;
        gap: 15px;
        background-color: rgba(169, 169, 169, 0.459);
        border-radius: 10px;
    }
    .textCiem h1 {
        font-size: 1.5rem;
    }
    .text {
        width: 100%;
    }
}

