.parallax {
    background-image: url('../../assets/home-ppal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 2000px; 
    overflow: hidden;
    position: relative;
}


.outerParallax {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
@media (max-width: 480px){
    .parallax{
        width: 100vh;
    }
}



.titulo {
    font-family: 'TheSeason';
    color: #ffffff;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    transition: transform 0.1s ease-out;
}

.titulo h1 {
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-size: 6rem;
    line-height: 1;
    font-style: italic;
    font-family: "Italic";
}

.titulo h2 {
    font-weight: 80;
    margin: 0;
    padding: 0;
    font-size: 3.2rem;
    line-height: 1;
}

.parallax img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 99;
    pointer-events: none;
}

.aquiEstamos {
    margin-top: 50%;
    padding: 70px 0;
    width: 100%;
    text-align: center;
    color: #555;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nube {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%; /* Tamaño inicial */
}
.titulo2 {
    margin-top: 50px; /* Ajusta este valor para mover el título más arriba */
}

.titulo2 h1 {
    font-family: "TheSeason";
    font-size: 2.5rem;
    font-weight: 100;
    color: #333;
}

.medio {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.card {
    position: relative;
    width: 450px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    object-fit: cover;
    
}

.icono {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.textoLanding p {
    font-family: "Tillilium";
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 1rem;
}
@media (max-width: 768px) {
   
    .titulo h1 {
        font-size: 4rem; /* Reduce el tamaño en pantallas pequeñas */
    }

    .titulo h2 {
        font-size: 2rem;
    }

    .card {
        width: 200px; /* Ajusta el tamaño de las tarjetas */
        height: 100px;
    }

    .medio {
        
        gap: 0.5rem; /* Reduce el espacio entre elementos */
    }

    .textoLanding p {
        font-size: 0.9rem; /* Reduce el tamaño de la fuente */
    }
    .nube{
        top: 500px; 
        display: none;
        width: 100%; 
        
    }
}

@media (max-width: 480px) {
  
    .titulo h1 {
        font-size: 3rem;
    }

    .titulo h2 {
        font-size: 1.5rem;
    }

    .card {
        
        width: 200px;
        height: 100px; 
    }

    .textoLanding p {
        font-size: 0.8rem; 
    }
    .aquiEstamos{
        top: 350px;
    }
    .nube{
        top: 500px; 
        display: none;
        width: 100%; 
        
    }
}


