.mainContainer {
  height: 100vh;
  margin: 0px auto;
}

.controlsContainer {

  top: 80%;
  /* altura de todos los botones */
  left: 50%;
  /* centrado horizontal */

  display: flex;
  gap: 30px;
  /* espacio entre botones */
  align-items: center;
  z-index: 2;
}

.sliderConteiner {
  position: relative;
  height: 100%;
  width: 98.9vw;
}

.conteinerImg ul {
  gap: 0px;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftArrow {
  width: 33px;
  height: 33px;
  position: absolute;
  top: 85%;
  /* Cambiado de 50% a 80% */
  transform: translateY(-50%);
  /* Solo movimiento vertical */
  left: 40px;
  font-size: 40px;
  font-weight: 500;
  color: #fff0f0c2;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  width: 33px;
  height: 33px;
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  right: 65px;
  font-size: 40px;
  font-weight: 500;
  color: #fff0f0c2;
  z-index: 1;
  cursor: pointer;
}

.downButton {
  position: absolute;
  top: 85%;
  transform: translateY(-40%);
  right:130px;
  width: 33px;
  height: 33px;
  background: #2b2b2b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  cursor: "default";

}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: none;
}

li img {
  transition: transform 0.3s ease, border 0.3s ease;
}

li img:hover {
  transform: scale(1.05);
}

.dotsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.dotsContainerItem {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #666565a6;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dotsContainerItem.active {
  background-color: #333;
}

/* Responsive styles */
@media (max-width: 716px) {
  .mainContainer {
    height: 400px;
  }

  .conteinerImg {
    height: 40px;
  }

  .leftArrow,
  .rightArrow {
    font-size: 30px;
    top: 85%;
    /* También más abajo en mobile */
  }

  .dotsContainerItem {
    font-size: 10px;
  }
}

@media (max-width: 412px) {
  img {
    object-fit: cover;
  }

  .mainContainer {
    height: 300px;
  }

  .conteinerImg {
    height: 300px;
  }

  .leftArrow,
  .rightArrow {
    font-size: 24px;
    top: 85%;
  }

  .dotsContainerItem {
    font-size: 8px;
  }
}