.app{
  background-image: url(../src/assets/home_02.jpg);
  background-size:cover;
  background-position:top center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}