@font-face {
  font-family: "TheSeason";
  src: url("../font/My\ Creative\ Land\ -\ The\ Seasons\ Regular.otf");
}
@font-face {
  font-family: "Tillilium";
  src: url("../font/TitilliumWeb-Light.ttf");
}
@font-face {
  font-family: "Italic";
  src: url("../font/SwilyBright-Italic.otf");
}
*,
html,
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




