@font-face {
  font-family: "TheSeason";
  src: url("../font/My\ Creative\ Land\ -\ The\ Seasons\ Regular.otf");
}
@font-face {
  font-family: "Tillilium";
  src: url("../font/TitilliumWeb-Light.ttf");
}
@font-face {
  font-family: "Italic";
  src: url("../font/SwilyBright-Italic.otf");
}
*,
html,
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color:grey
}
::-webkit-scrollbar-thumb{
  height: 35%;
  background-color: rgba(66, 66, 66, 0.658);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.438);
}


