/* Ajusta el contenedor principal de la imagen del banner */
.nube-principal {
  position: absolute; /* Coloca el contenedor al principio de la página */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1; /* Opcional, asegura que otros elementos queden encima si es necesario */
}

.nube-principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para la sección de medios */
.medios {
 background-image: url(../../assets/texto-1_02_03.jpg);
  display: flex;
  flex-direction: column; 
  align-items: center;
  
  margin-top:100vh; /* Asegura que esta sección empiece debajo del banner */
}

.medios-tittle {
  margin-bottom: 20px; 
 
}

.medios h1 {
  font-size: 24px;
  color: #333;
}

.medios-imagenes {
  display: flex; 
  gap: 70px; 
}

.medios img {
  border-radius: 15px;
  width: 250px;
  height: auto;
  transition: transform 0.3s ease;
}

.medios img:hover {
  transform: scale(1.1);
}
