
.medios{
  background-image: url(../../assets/home_02.jpg);
  background-size:cover;
  background-position:top center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
 
}
.titulo h1{
  font-size: 2.5rem;
  margin: 4rem ;
  margin-bottom:2.8rem;
}
.iconos {
  margin-top: 65%;            
  padding: 20px;
  width: 100%;
  text-align: center;
}

.iconos img {
  width: 450px;
  height: 200px;
  border-radius: 20px;             
  margin: 0 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.iconos img:hover {
  transform: scale(1.05);
}
.texto-Landing {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  padding: 15px;
  max-width: 800px; 
  margin: 0 auto;
  margin-bottom: 80px;
 
  
}

.noticias1 .noticias2{
  display: flex;
  width: 100vw; 
  height: 50vh;
  margin: 0 auto;

}
.noticias1 img:first-child {
  width: 40%; 
  height: 100%; 
  object-fit: cover;
}
.noticias1 img:last-child {
  width: 60%; 
  height: 100%; 
  object-fit: cover;
}  
.noticias2 img:first-child {
  width: 60%; 
  height: 100%; 

}
.noticias2 img:last-child {
  width: 40%; 
  height: 100%; 

}
.noticias1 img:hover,.noticias2 img:hover{
  transform: scale(1.05);
}

