.ContainerForm {
  min-height: 100vh;
  background-image: url("../../Vistas/Mensaje/consejeria-card.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "TheSeason";
  padding-top: 100px;
}


/* MEDIA 768px */
@media (max-width: 768px) {
  .SectionForm {
    padding: 0px;
    max-width: 350px;
    width: 100%;
  }

  .tituloForm {
    height: 120px;
  }

  .tituloForm h1 {
    font-size: 1.5rem;
    right: 40px;
  }

  .InputForm {
    margin-top: 100px;
  }

  .InputForm input,
  .InputField {
    width: 100%;
  }

  .TextArea {
    height: 150px;
  }
}

/* MEDIA 412px */
@media (max-width: 412px) {
  .SectionForm {
    top: 50px;
    width: 100%;
    padding: 0px;
    max-height: 90%;
  }

  .tituloForm {
    height: 100px;
  }

  .tituloForm h1 {
    font-size: 1.4rem;
  }

  .InputForm {
    gap: 10px;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .InputForm input,
  .InputField {
    width: 100%;
    padding: 8px;
  }

  .TextArea {
    height: 120px;
  }
}

@media (max-width: 1366px) {

  /* FORM PRINCIPAL */
  .SectionForm {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.534);
    width: 700px;
    height: 95vh;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    bottom: 20px;
  }

  /* TITULO */
  .tituloForm {
    min-width: 100%;
    height: 130px;
    position: absolute;
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 20px 20px 0px 0px;
    top: 0px;
  }

  .tituloForm h1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }

  /* CONTENEDOR DE INPUTS */
  .InputForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
    margin: 180px auto 0 auto;
    /* CENTRADO */
    align-items: center;
    /* Alinea todos los inputs */
  }

  /* INPUTS */
  .InputForm input,
  .InputField,
  .TextArea {
    width: 100%;
    max-width: 700px;
    padding: 10px 15px;
    font-size: 1rem;
    border: solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .InputForm input {
    height: 45px;
  }

  /* TEXTAREA */
  .TextArea {
    height: 123px;
    resize: none;
  }

  .SubmitButton {
    padding-left: 510px;
    padding-top: 200px;
  }

  /* BOTÓN DESCARGA */
  .DownloadButton {
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }

}

@media (max-width: 1920px) {
  .SectionForm {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.534);
    width: 700px;
    height: 95vh;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    bottom: 20px;
  }

  .tituloForm {
    min-width: 100%;
    height: 130px;
    position: absolute;
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 20px 20px 0px 0px;
    top: 0px;
  }

  .tituloForm h1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }

  /* CONTENEDOR DE INPUTS */
  .InputForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    margin: 180px auto 0 auto;
    /* CENTRADO */
    align-items: center;
    margin-top: 350px;
  }

  .InputForm input,
  .InputField,
  .TextArea {
    width: 100%;
    max-width: 1000px;
    padding: 10px 15px;
    font-size: 1rem;
    border: solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .InputForm input {
    height: 45px;
  }

  /* TEXTAREA */
  .TextArea {
    height: 123px;
    resize: none;
  }

  .SubmitButton {
    padding-left: 510px;
    padding-top: 200px;
  }

  .DownloadButton {
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
}

@media (max-width: 1659px) {
   .SectionForm {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.534);
    width: 700px;
    height: 95vh;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    bottom: 20px;
  }

  .tituloForm {
    min-width: 100%;
    height: 130px;
    position: absolute;
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 20px 20px 0px 0px;
    top: 0px;
  }

  .tituloForm h1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }

  /* CONTENEDOR DE INPUTS */
  .InputForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:53%;
    margin: 180px auto 0 auto;
    /* CENTRADO */
    align-items: center;
    margin-top: 280px;
  }

  .InputForm input,
  .InputField,
  .TextArea {
    width: 100%;
    max-width: 1000px;
    padding: 10px 15px;
    font-size: 1rem;
    border: solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .InputForm input {
    height: 45px;
  }

  /* TEXTAREA */
  .TextArea {
    height: 123px;
    resize: none;
  }

  .SubmitButton {
    padding-left: 510px;
    padding-top: 200px;
  }

  .DownloadButton {
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
}